<!DOCTYPE html>
<html>
<head>
    <title>CAC/GS Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>CAC / GS Dashboard</h1>

    <h2>Applications Overview</h2>

    {% if applications %}
        <table border="1" cellpadding="8">
            <tr>
                <th>Application ID</th>
                <th>Applicant UID</th>
                <th>Applicant Name</th>
                <th>Degree</th>
                <th>Program</th>
                <th>Semester</th>
                <th>Year</th>
                <th>Status</th>
                <th>View</th>
                {% if role in ['CAC', 'GS'] %}
                    <th>Review Stage</th>
                {% endif %}
            </tr>

            {% for app in applications %}
            <tr>
                <td>{{ app['app_id'] }}</td>
                <td>{{ app['uid'] }}</td>
                <td>{{ app['fname'] }} {{ app['lname'] }}</td>
                <td>{{ app['deg_type'] }}</td>
                <td>{{ app['pname'] }}</td>
                <td>{{ app['semester'] }}</td>
                <td>{{ app['app_year'] }}</td>
                <td>{{ app['status'] }}</td>
                <td>
                    <a href="{{ url_for('apps.view_application', app_id=app['app_id']) }}">View Application</a>
                </td>

                {% if role in ['CAC', 'GS'] %}
                <td>
                    {% if app['status'] == 'Complete' %}
                        {% if role == 'CAC' %}
                            <form method="POST" action="{{ url_for('apps.assign_reviewers') }}">
                                <input type="hidden" name="application_id" value="{{ app['app_id'] }}">

                                <select name="reviewer_id" multiple required size = "5">
                                    <option value="" disabled>Select Reviewer(s)</option>
                                    {% for reviewer in reviewers %}
                                        <option value="{{ reviewer['user_id'] }}">
                                            {{ reviewer['user_id'] }} - {{ reviewer['fname'] }} {{ reviewer['lname'] }} ({{ reviewer['dname'] }})
                                        </option>
                                    {% endfor %}
                                </select>

                                <button type="submit">Assign Reviewers</button>
                            </form>

                        {% else %}
                            <p>Waiting for reviewer assignment</p>
                        {% endif %}

                    {% elif app['status'] == 'Under Review' %}
                        <p>Review in progress</p>
                    {% elif app['status'] == 'Reviewed' %}
                        <p>Ready for final decision</p>
                        <a href="{{ url_for('apps.final_decision', app_id=app['app_id']) }}">Enter Final Decision</a>
                    {% elif app['status'] == 'Decision Made' %}
                        <p>Final decision recorded</p>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No applications found.</p>
    {% endif %}
    
    {% if role == 'CAC' %}
        <p><a href="{{ url_for('apps.cac_home') }}">Back to CAC Overview</a></p>
    {% elif role == 'GS' %}
        <p><a href="{{ url_for('apps.gs') }}">Back to GS Dashboard</a></p>
    {% endif %}

    <p><a href="/logout">Logout</a></p>
    
</body>
</html>