{% extends "base.html" %}
{% block title %}{{ _('My Courses') }}{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ _('My Courses') }}</h1>
    <p>{{ _('Courses currently assigned to you.') }}</p>

    <table>
        <thead>
            <tr>
                <th>{{ _('Course') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Credits') }}</th>
                <th>{{ _('Semester') }}</th>
                <th>{{ _('Day') }}</th>
                <th>{{ _('Time') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course['dept'] }} {{ course['number'] }}</td>
                <td>{{ course['name'] }}</td>
                <td>{{ course['credits'] }}</td>
                <td>{{ course['semester'] }} {{ course['year'] }}</td>
                <td>{{ course['day'] }}</td>
                <td>{{ course['start_time'] }}–{{ course['end_time'] }}</td>
            </tr>
            {% else %}
            <tr><td colspan="6">{{ _('No courses assigned.') }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}