{% extends "base.html" %}
{% block title %}{{ _('Student Records') }}{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ _('Student Records') }}</h1>
    <p>{{ _('View all registered graduate students.') }}</p>

    <table>
        <thead>
            <tr>
                <th>{{ _('Student ID') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Program') }}</th>
                <th>{{ _('Admit Year') }}</th>
                <th>{{ _('Transcript') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s['id'] }}</td>
                <td>{{ s['name'] }}</td>
                <td>{{ s['email'] }}</td>
                <td>{{ s['track'] }}</td>
                <td>{{ s['admit_year'] }}</td>
                <td>
                    <a href="{{ url_for('grad_secretary.student_transcript', uid=s['id']) }}">
                        {{ _('View Transcript') }}
                    </a>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="6">{{ _('No students found.') }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}