{% extends "base.html" %}
{% block title %}{{ _('Course Schedule') }}{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ _('Course Schedule') }}</h1>
    <p>{{ _('All course offerings and their scheduled times.') }}</p>

    <table>
        <thead>
            <tr>
                <th>{{ _('Course') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Credits') }}</th>
                <th>{{ _('Semester') }}</th>
                <th>{{ _('Day') }}</th>
                <th>{{ _('Time') }}</th>
                <th>{{ _('Instructor') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course['dept'] }} {{ course['number'] }}</td>
                <td>{{ course['name'] }}</td>
                <td>{{ course['credits'] }}</td>
                <td>{{ course['semester'] }} {{ course['year'] }}</td>
                <td>{{ course['day'] }}</td>
                <td>{{ course['start_time'] }}–{{ course['end_time'] }}</td>
                <td>{{ course['instructor'] or _('TBA') }}</td>
            </tr>
            {% else %}
            <tr><td colspan="7">{{ _('No courses found.') }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}